[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
pyyaml = "*"
requests = "*"
flask = "*"
jinja2 = "*"


[requires]
python_version = "3.7"
