<div>
    <hr>
    <label for="scm_username">Enter the username for the SCM</label>
    <input name="SCM Username" id="scm_username" required></input>
    <label for="scm_password">Enter the password or Personal Access Token (recommended) for the SCM</label>
    <input name="SCM Password" id="scm_password" type="password" required></input>
    <label for="scm_name">Enter your full name that will be associated with the Push</label>
    <input name="SCM Name" id="scm_name" required></input>
    <label for="scm_email">Enter your email address that will be associated with the Push</label>
    <input name="SCM Email" id="scm_email" required></input>
</div>