<h3>Pull Request Successfully Created</h3><br>
<b>Pull Request Number: </b>{{ data.data.createPullRequest.pullRequest.number }}<br>
<b>Pull Request Link: </b><a href="{{ data.data.createPullRequest.pullRequest.url }}" target="_blank">{{ data.data.createPullRequest.pullRequest.url }}</a>